.outside-login-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  color: black;
}

.outside-login-button > span {
  color: black;
}

.fb-login-btn {
  padding: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.fb-login-btn > svg {
  color: #4267b2;
}

.btn-invalid {
  pointer-events: none !important;
  background-color: grey !important;
  color: white !important;
}
