.button-content {
  display: flex;
  min-width: 73%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 225px;
  color: white;
}
.button-content__container {
  display: flex;
  width: 70%;
  height: 100%;
  justify-content: center;
  align-items: center;
  max-width: 225px;
  color: white;
}

.button-icon {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
